@media only screen and (min-width: 1000px) {
    .custom-img1 {
        height: 500px;
        align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.normal-para {
    padding: 3rem 1.5rem;
    text-align: justify;
}
body {
    padding-top: 3rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
main {
    font-size: 125%;
    line-height: 1.5;
}
p {
    color: #333;
}
li {
    font-weight: 300;
    color: #555;
}
.card-body {
    padding: 50px;
}
h2 {
    color: #444;
    font-weight: normal;
}
h5 {
    color: #444;
    font-weight: normal;
}
.card {
    margin-bottom: 30px;
}
.lead {
    font-size: 90%;
}
table {
    font-size: 100%;
    line-height: 1.3;
}
@media only screen and (max-width: 600px) {
  main {
    font-size: 80%;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
      font-size: 140%;
      font-weight: 450;
  }
  h5 {
     font-size: 140%;
  }
  .card-body {
      padding: 15px;
  }
  .lead {
      font-size: 90%;
      line-height: 1.6;
  }
  .mb-1 {
      margin: 0 20px;
  }
  .navbar-brand {
      font-size: 105%;
  }
  span.navbar-toggler-icon {
      font-size: 70%;
  }
  a.fix-flow {
      overflow: hidden;
      text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 375px){
    th.fix-col {
        padding: .35rem;
    }
    td.fix-col {
        padding: .5rem;
    }
}
